* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

#container {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}   
.sub-container {
    background-color: green;
    width: 70%;
    height: 350px;
    display: flex;
    flex-direction: row;
}

.image_container {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.santa {
    height: 100%;
}
#navigation {
    background-color: #FFFFFF;
    height: 100%;
    width: 200px;
    display: flex;
    direction: column;
    padding: 7px 0px 7px 0px;
    justify-content: space-between;
    box-shadow: 2px 0 2px 1px rgba(0,0,0,0.3);
    align-items: center;
}

.logo {
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 2px 2px 2px;
}

.first-row {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 150px;
}

.avatar {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart {
    color: blue;
}

.avatar img {
    width: 100%;
    border-radius: 20px;
}

.menu {
    width: 100%;
    height: 100%;
}   

.menu-list {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
}


.menu-list a {
    text-decoration: none;
    color: rgba(0,0,0,0.5);
    font-weight: 500;
    width: 100%;
    height: 100%;
    font-size: 11px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    text-transform: uppercase;
}

.fa-caret-right {
    position: absolute;
    right: 10px;
    visibility: hidden;
}


.menu-list a:hover {
    color: #F56A01;
    background-color: rgba(0,0,0,0.1);
    transition-delay: 50ms;
}

.menu-list a:hover .fa-caret-right{
    color: #F56A01;
    visibility: visible;
    transition-delay: 50ms;
}


.menu-list li {
    width: 100%;
    height: 100%;
    list-style-type: none;
}

.submenu {
    position: absolute;
    background-color: white;
    left: 200px;
    top: -7px;
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px 0px 7px 0px;
    box-shadow: 2px 0 2px 2px rgba(0,0,0,0.3);
    display: none;
}

.submenu-list {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
}

.submenu-list a {
    text-decoration: none;
    color: rgba(0,0,0,0.5);
    font-weight: 500;
    width: 100%;
    height: 100%;
    font-size: 11px;
    display: flex;
    align-items: center;
    padding: 6px 0 6px 5px;
    text-transform: uppercase;
}

.menu-list li:hover .submenu{
    display: block;
}

.submenu li:hover a{
    color: #F56A01;
    background-color: rgba(0,0,0,0.1);
}