* {
    border: 0;
    padding: 0;
    font-family: sans-serif;
}

p {
    font-size: 60px;
    font-weight: bold;
    animation-name: changeBackground;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    width: 800px;

}


@keyframes changeTextColor {
    from  {
        color: orange;

    }

    to {
        color: blue;

    }
}


@keyframes changeBackground {
    20% {
        background-color: blueviolet;
    }
    40% {
        background-color: cadetblue;
    }
    100% {
        background-color: darkgoldenrod;
    }
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box {
    height: 300px;
    width: 300px;
    border: 5px black solid;
    background-color: #fafafc;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
}
@keyframes changeSize {
    5% {
        transform: scale(1);
    }
    10% {
        transform: scale(1.2);
    }
    15% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.2);
    }
    100% {
        transform:scale(1);
    }
}

#heart {
    height: 50%;
    animation-name: changeSize;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.box-text {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #fafafc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#top-box {
    position: absolute;
    top: 0;
}
#bottom-box {
    position: absolute;
    bottom: 0;
}
.text-container {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #fafafc;
}



h2 {
    font-size: 35px;
    color: #484C51;
    text-transform: uppercase;

}
@keyframes dropText {
    0% {
        top: 0;
        visibility: hidden; 
    }
    25% {
        top: 101px;
        visibility: visible;
    }
    100% {
        top: 101px;
        visibility: hidden;
    }
}

@keyframes flyText {
    33% {
        bottom: 0;
        visibility: hidden; 
    }
    66% {
        bottom: 101px;
        visibility: visible;
    }
    100% {
        bottom: 101px;
        visibility: hidden;
    }
}

@keyframes appearText {
    66% {
        visibility: hidden; 
    }
    100% {
        visibility: visible;
    }
}

#moving-1 {
    background-color: orange;
    visibility: hidden;
    top: 0;
    animation-name: dropText;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

#moving-2 {
    background-color: violet;
    animation-name: flyText;
    visibility: hidden;
    bottom: 0;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

#moving-3 {
    background-color: green;
    animation-name: appearText;
    bottom: 101px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.moving-box {
    position: absolute;
    visibility: hidden;
}

