* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Roboto, sans-serif;
    font-weight: 540;
}

#navigation {
    background-color: #34465c;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    padding: 1px 10px 1px 10px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 120px;
}

.logo img {
    width: 100%;
}

.avatar {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.cart {
    color: #fff;
    margin-left: -5px;
}

.avatar img {
    width: 100%;
    border-radius: 20px;
}

.menu {
    width: 100%;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;

}

.menu-list {
    display: flex;
    justify-content: flex-end;
    /* background-color: red; */
}

.menu-list a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.menu-list li {
    list-style-type: none;
    margin-right: 15px;
    font-size: 12px;
    display: flex;
    align-items: center;
    /* background-color: #4C4646; */
    justify-content: space-between;
}

.fa-angle-down {
    margin-left: 5px;
    color: white;
}

.user-top-menu {
    color: white;
}
.text {
    display: flex;
    justify-content: center;
    align-items: center;
}   

#main {
    height: 850px;
    width: 100%;
    /* background-color: #FFFFFF; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    height: 85%;
    width: 65%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 0;
}

#row_one {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: row;
}

#row_two {
    width: 100%;
    height: 35%;
    display: flex;
    /* background-color: indigo; */
    flex-direction: row;
}

#content_left {
    /* background-color: yellowgreen; */
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 6px; 
}

#content_right {
    /* background-color: green; */
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#content_bottom {
    /* background-color: lightblue; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
}

#diagram {
    height: 100%;
}

.subrow {
    /* background-color: hotpink; */
    width: 90%;
    height: 21.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 6px;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.mini_image {
    /* background-color: burlywood; */
    height: 100%;
    width: 25%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 6px;
}

.thumbnail {
    height: 100%;
}

.description {
    /* background-color: coral; */
    height: 80%;
    width: 70%;
    margin: 2.5%;
    margin-right: 6%;
    color: #4C4646;
}

.blog_btn {
    text-decoration: none;
    color: #4C4646; 
}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 80%;
}

.author {
    height: 20%;
    color: #757575;
}

h4 {
    font-weight: 500;
}
h5 {
    font-size: 12px;
    font-weight: 300; 
}

.subbox {
    /* background-color: lawngreen; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80%;
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
}

.box_btn {
    text-decoration: none;
    color: #4C4646;   
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.icon_description {
    margin-bottom: 5%;
}

.small_description {
    color: #9FA1AD;
}

#secondary {
    display: flex;
    width: 100%;
    height: 1100px;
    background-color: #E4F2FD;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#twobythree {
    display: flex;
    /* background-color: red; */
    height: 80%;
    width: 65%;
    flex-wrap: wrap;
}

#subheading {
    width: 20%;
    height: 5%;
    /* background: tomato; */
    margin: 1%;
    color: #464646;
    text-align: center;
    font-size: 27px;
}

.box {
    background-color: yellow;
    height: 48%;
    width: 31%;
    margin: 1%;
    margin-top: 2%;
    border-radius: 6px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.upper {
    width: 100%;
    height: 55%;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.upper_image {
    height: 100%;
}

.lower {
    width: 100%;
    height: 45%;
    background: #FDFDFD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textbox {
    /* background-color: yellow; */
    height: 70%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.second_layer {
    /* background-color: teal; */
    color: #464646;
    height: 50%;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.box_description {
    text-decoration: none;
    color: #4C4646;   
}

.box_title {
    color: #464646;
    font-size: 20px;
    font-weight: 600;
}

.textbox_description {
    line-height: 1.4;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box_date {
    color: #757575;
    font-weight: bold;
    font-size: 17px;
}

#third {
    background-color: #FFFFFF;
    height: 625px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#onebythree {
    width: 65%;
    height: 60%;
    /* background: darkgreen; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#subheading_two {
    width: 65%;
    height: 10%;
    /* background: tomato; */
    margin: 2%;
    margin-top: -1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#slide_title {
    font-size: 28px;
    font-weight: 500;
    color: #464646;
}

.fa-angle-double-left {
    color: #464646;
}

.fa-angle-double-right {
    color: #464646;
}

.box_two {
    /* background-color: yellow; */
    height: 80%;
    width: 30%;
    border-radius: 6px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#outer_left {
    margin-left: -1.66%;
}

#outer_right {
    margin-right: -1.66%;
}

.upper_half_part {
    height: 60%;
    width: 100%;
    background-color: darkblue;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper_half_image {
    width: 100%;
}

.lower_half_part {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: palegreen; */
}

.third_textbox {
    display: flex;
    height: 75%;    
    width: 90%;
    /* background-color: orange; */
    flex-direction: column;    
    justify-content: space-between;
}

.third_description {
    color: #A9A9A9;
    font-size: 14px;
    display: flex;
}

.third_btn {
    text-decoration: none;
    /* background-color: red; */
    height: 100%;
    display: flex;
    color: #464646;
}



#fourth {
    background-color: #E4F2FD;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 40px 0;
}

iframe {
    height: 100%;
    width: 70%;
    border-radius: 5px;
}

#footer {
    background-color: #464646;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#four_column {
    /* background: chocolate; */
    width: 65%;
    height: 75%;
    display: flex;
    flex-direction: row;
    margin: 60px 0px 100px 0px;
}

#data_column {
    /* background-color: brown; */
    height: 94%;
    width: 25%;
    margin: 0.3%;
}

.footer_title {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.list_info {
    text-decoration: none;
    flex-direction: column;
    color: #919183;
    font-size: 14px;
    line-height: 2.5;
    list-style: none;
}

.information {
    /* background: darkgoldenrod; */
    height: 90%;
}

.link_address {
    text-decoration: none;
    color: #919183;
    
}

.info {
    display: flex;
    align-items: left;
    text-align: left;
    margin: auto;
}

.info:hover {
    text-decoration: underline;
}

.column_title {
    height: 10%;
    /* background-color: darkcyan; */
}

.social {
    margin-left: 20px;
    margin-top: 10px;
}

.social_button {
    margin-left: 10px;
    margin-right: 10px;
}

.last_btn {
    color: #919294;
}

.fa-facebook-messenger {
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #4C6EF5;
}
